################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LBAngularNet/.vs/LBAngularNet
/LBAngularNet/LBAngularNet/ClientApp/.angular/cache/14.1.3
/LBAngularNet/.vs/ProjectEvaluation
/LBAngularNet/TestUnit/obj
/LBAngularNet/TestUnit/bin/Debug/net7.0
/LBAngularNet/LBAngularNet/bin/Debug/net7.0
/LBAngularNet/LBAngularNet/obj
